@tailwind base;
@tailwind utilities;
@tailwind components;

@layer base {
  /* TODO: fullfill other styles */
  .light-scheme,
  .auto-scheme {
    --color-bg-base: #f1f5f9;
    --color-bg-bar: #14b8a6;
    --color-bg-chatArea: #2596be;
    --color-bg-bubble: #119c8c;

    --color-text-base: #1e293b;
    --color-text-invert: #f1f5f9;

    --color-border-base: #f1f5f9;
    --border-skin-invert: #1e293b;
  }

  .dark-scheme {
    --color-bg-base: #1e293b;
    --color-bg-bar: #14b8a6;
    --color-bg-chatArea: #ccfbf1;
    --color-bg-bubble: #119c8c;

    --color-text-base: #f1f5f9;
    --color-text-invert: #1e293b;

    --color-border-base: #1e293b;
  }

  @media (prefers-color-scheme: dark) {
    .auto-scheme {
      --color-bg-base: #1e293b;

      --color-text-base: #f1f5f9;
      --color-text-invert: #1e293b;

      --color-border-base: #1e293b;
    }
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
